/* the main section of the page with full screen size */
main {
    position: relative;
    height: 100vh;
    display: flex;
    overflow: auto;
}

html {
    background-image: url("../assets/octcat.jpeg");
    background-size: cover;
    font-family: 'Roboto', sans-serif, serif, monospace, cursive;
    color: whitesmoke;
}

.box {
    border: 1px solid #ccc;
    border-radius: 5px;
    backdrop-filter: blur(10px);
    transform: translate3d(0, 0, 0);
    box-shadow: 0 0 5px #ccc;
    margin: 5em;
    padding: 1em;
    width: 100%;
    overflow: scroll;
}

.row {
    display: flex;
    align-items: center;
    max-height: 30em;
    height: auto;
    flex-direction: row;
}

.profile {
    display: flex;
    /*flex-direction: column;*/
    align-items: center;
    justify-content: center;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    width: 100%;
    height: 100%;
}

.container {
    width: 100%;
    margin: 100px auto 0;
}

#profile-image {
    width: 10em;
    height: 10em;
    border-radius: 50%;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px #ccc;
    margin: 4em 4em 4em 1em;
    float: left;
    padding: 0 0 0 0;
}

#profile-image:hover {
    cursor: pointer;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search-box {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-end;
    justify-content: space-evenly;
}

input:placeholder-shown {
    color: #ccc;
    text-overflow: ellipsis;
}

#message {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-end;
    justify-content: space-evenly;
    color: red;
}

#username {
    margin: 0.5em;
    width: auto;
    text-align: center;
}

#search-btn {
    width: 30%;
    height: 1.5em;
    border: none;
    border-radius: 5px;
    background-color: #ccc;
    color: #fff;
    font-size: 1em;
    font-weight: 300;
    margin: 0.5em;
    cursor: pointer;
}

.result-box {
    width: 100%;
    display: grid;
}

.profile-info {
    display: flex;
    flex-wrap: wrap;
}

.top-result-box {
    height: 10em;
}

.tag {
    flex: 50%;
    /*padding: 0.5rem 1rem 0.5rem 0;*/
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.header h1 {
    margin: 0;
}

/* text input */
input[type=text] {
    width: auto;
    height: 1.5em;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

input[type=text]:focus {
    border: 3px solid #13136f;
}

#username-label {
    margin: 0.5em;
    width: auto;
    text-align: center;
    padding-right: 0.4em;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    color: #fff;
    text-align: center;
    padding: 0.5em;
}

a {
    color: #009471;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: #1ae300;
    transition: 0.35s;
}

/* selected link */
a:active {
    color: red;
}

button:hover {
    background-color: #009471 !important;
    transition: 0.75s;
}

b {
    font-weight: 600;
}